#two{
	background-image: url(../images/header.png);
	width: 174px;
	height: 60px;
}
.two{
	background-image: url(../images/baibiaoti.png);
	width: 170px;
	height: 35px;
	text-align: center;
	padding-top: 12px;
	color: white;
}
#one{
	background-image: url(../images/lvbiaoti.png);
	width: 170px;
	height: 26px;
	/*margin-left: 50%;*/
	text-align: center;
	padding-top: 12px;
	color: white;
	padding-top: 12px;
}
#background{
	background-image: url(../images/bj.png);
	width: 220px;
	height: 380px;


}
ul{
	list-style-position: inside;
	list-style-type: none;
}
a{
	text-decoration: none;
}